@import 'tailwindcss';

@font-face {
  font-family: 'Unbounded';
  src:
    url('./fonts/unbounded-cyrillic-500-normal.woff2') format('woff2'),
    url('./fonts/unbounded-latin-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand-light: #ffedd5;
  --color-brand: #f97316;
  --color-brand-dark: #ea580c;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-gray-200 text-slate-900 antialiased font-sans;
}

h1,
h2,
h3,
h4 {
  @apply font-bold tracking-tight text-slate-950;
}
